body {
  justify-content: center;
  background-color: azure;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
}
h1 {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 48px;
  color: chartreuse;
}